/* FONT FACES */
@font-face {
  font-family: 'Zelda';
  src:  url('../fonts/Zelda.ttf') format('truetype');
} 
/* COLOR VARIABLES */
:root {
  --color-dark: hsl(179, 46%, 19%);
  --color-light: #266867;
  --color-accent: #f8bc24;
  --color-accent-dark: #f58800;
  --color-text: #fff;
  --border-radius: 5px;
}
/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  font-family: Zelda, Arial, Helvetica, sans-serif;
}
.footer {
    width: 100%;
    margin: auto 0;
}
@media screen and (max-width: 767px) {
    footer div {
        display: inline-block!important;
    }
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-light);
  margin:0; padding: 0;
}

body {
  position: relative;
}

#main {
  margin-bottom: 350px; /* is equal to the footer height - change it as you need, in both common and your mobile tab*/
}

#sticky-footer {
  padding: 50px 0;
  background: var(--header_background);  /* optional */
  color: var(--primary-medium); /* optional */
  text-align: center; /* optional */
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1/-1;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* BUTTON STYLES  */
.button {
  --degree: 2deg;
  --scale: 1.05;
  padding: 0.5em 1em;
  font-size: 20px;
  text-decoration: none;
  background-color: var(--color-accent-dark);
  color: var(--color-dark);
  text-transform: uppercase;
  border-radius: var(--border-radius);
  border: none; 
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.button:hover,
.button:focus { 
  background-color: var(--color-accent);
  transform: scale(var(--scale)) rotate(var(--degree));
}

.button--large {
  --scale: 1; 
  font-size: 23px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  letter-spacing: 1px;
}
.button--large.active {
  background-color: var(--color-accent);
  box-shadow: 0 0 0 4px var(--color-text);
  color: var(--color-text);
}
.button--large .button__text {
  font-size: 1.3em; 
  transition: 0.2s ease-in-out;
}
.button--large .button__symbol {
  align-self: flex-end;
  font-size: 3.8em;
  line-height: 0.9;
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  transition: 0.2s ease-in-out;
}
.button--large.active .button__text,
.button--large:hover .button__text,
.button--large:active .button__text {
  transform: translateX(0.3em);
}
.button--large.active .button__symbol,
.button--large:hover .button__symbol,
.button--large:active .button__symbol {
  transform: scale(1.25) translate(-10%, -10%);
}
.button--complex {
  grid-column: 1 / -1;
} 
.button--complex .button__symbol {
  font-size: 3em;
}


/* SECTION STYLES */
.section {
  display: none;
  width: 100%;
  max-width: 1200px;
  height: auto;
  min-height: 500px;
  margin: 0 auto;
  width: 95%;
  position: relative;

  justify-content: center;
  align-items: center;
} 
.section.active {
  display: flex;
  animation: showUp 0.5s ease-in-out;
}
@keyframes showUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* MENU STYLES */
.menu-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
}
/* NAME FORM STYLES */
.input-container {
  display: flex; /*ADDED BY ELIOT*/
  flex-wrap: wrap; /*ADDED BY ELIOT*/
  gap: 10px; /*ADDED BY ELIOT*/
  /*grid-column: span 3; REMOVED BY ELIOT*/
  color: #fff;
  /*display: grid; REMOVED BY ELIOT
  grid-template-columns: 1fr auto;
  grid-gap: 10px;*/
  width: 100%;
  max-width: 600px;
  margin: 0 auto 15px;
}
.input-container input {
  text-align: center;
  font-size: 1.5rem;
  flex: 1 0 auto
}
#paypal-button {
  flex: 0 1 auto;
  width: 15rem;
}

/* OPTION STYLES */
.option-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.option {
  margin: 8px;
  width: 100%;
  min-width: 100px;
  max-width: 180px;
  background-color: var(--color-accent);
  padding: 5px;
  border: 2px solid black;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.option:hover {
  transform: scale(1.2);
} 
.option.option--large{
  width: 50%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
/* BOARD STYLE */
.board {
  text-align: center;
  background-color: var(--color-dark);
  color: var(--color-text);
  border: 4px solid black;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 35px;
  min-height: 300px;
  margin: 15px 0; 
}
.board__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 0 0 15px;
}
.board__challenge {
  font-size: 2rem;
}
.board__text {
  font-size: 1.25rem;
}
.board__subtext {
  font-size: 1rem;
  margin-bottom: 15px;
}
/* GAME STYLES */
.game-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.game__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-accent);
  font-size: 1.35rem;
}
.game__header,
.game__timer {
  padding: 10px;
  font-weight: bold;
  border-radius: calc(2 * var(--border-radius));
}
.game__type {
  margin-left: 20px;
}
.game__main {
  display: grid;
  grid-template-columns: repeat(4, 2fr) 3fr;
  place-items: center;

  font-size: 6rem;
  font-weight: bold;
  color: var(--color-text);
}
.game__timer {
  position: relative;
  background-color: lightgray;
  width: 100%;
  height: 48px;
  overflow: hidden;
}
.game__timer-fill {
  --width: 100;
  position: absolute; 
  top: 0;
  left: 0;
  height: 100%;
  width: calc(var(--width) * 1%);
  background-color: var(--color-accent-dark);
  transition: all 1s linear;
}
.game__timer-seconds {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.game__timer-text {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__timer-text .button {
  margin-top: 1rem;
}
.game__answer {
  height: 130px;
  background-color: var(--color-accent);
  font-size: 5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
}
.game__answer::placeholder {
  color: #000;
}
/* RESULT CONTAINER */
.result-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-text);
  text-align: center;
  background-color: var(--color-dark);
  border: 5px solid black;
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 2px var(--color-accent), 
              0 0 0 2px var(--color-accent);
}
.result__title {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}
.result__subtitle {
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
}
.result__percent {
  font-size: 5rem;
  font-weight: bold;
}
.result__message {
  font-size: 1.8rem;
  font-weight: bold;
}
.result__print {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result__print .button {
  padding: .2em .5em;
  margin-top: 1rem;
}
.result__completion {
  font-size: 1.2rem;
  margin: 0;
}
/* HOME STYLES*/
.home__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  white-space: nowrap;
}


/* RESPONSIVENESS */
@media screen and (max-width: 768px) {
  .menu-container {
    grid-template-columns: 1fr;
  }
  .input-container {
    grid-column: span 1;
  }
  .option-container {
    flex-direction: row;
  }
  .option {
    min-width: 40px;
    margin: 5px;
  }
  .input-container input {
    font-size: 1rem;
  }
  .board {
    padding: 10px;
  }
  .game__main {
    font-size: 4rem;
  }
  .game__answer {
    font-size: 3.5rem; 
    height: 100px;
  }
  .button--large {
    min-width: unset;
    font-size: 17px;
  }
}
@media screen and (max-width: 456px) {
  .section {
    min-height: 95vh;
  }
  .game__main {
    grid-template-columns: repeat(4, 1fr) 2fr;
  }
  .game__timer-text {
    font-size: 4rem;
  }
  .home__buttons {
    padding: 0;
    grid-template-columns: 1fr;    
  }
  .board--padding {
    padding: 20px;
  }
}
/* V2 KEEP ON BOTTOM */
.hidden {
  display: none !important;
}